.breathe {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  animation: breath-animation 7s infinite;
}

@keyframes breath-animation {
  0% {
    background-color: #81f4e144;
    width: 50px;
    height: 50px;
  }
  25% {
    background-color: #81f4e1;
    width: 25px;
    height: 25px;
  }
  50% {
    background-color: #81f4e144;
    width: 50px;
    height: 50px;
  }
  50% {
    background-color: #81f4e1;
    width: 25px;
    height: 25px;
  }
  100% {
    background-color: #62d7c344;
    width: 50px;
    height: 50px;
  }
}
