.container {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.bubbles {
  position: relative;
  display: flex;
}

.bubbles span {
  position: relative;
  width: 30px;
  height: 30px;
  background: #ff6bb5;
  margin: 0 4px;
  border-radius: 50%;
  box-shadow: 0 0 0 10px #ff6bb544, 0 0 50px #ff6bb5, 0 0 100px #ff6bb5;
  animation: bubble 15s linear infinite;
  animation-duration: calc(125s / var(--i));
}

.bubbles span:nth-child(even) {
  background: #81f4e1;
  box-shadow: 0 0 0 10px #81f4e144, 0 0 50px #81f4e1, 0 0 100px #81f4e1;
}

@keyframes bubble {
  0% {
    transform: translateY(100vh) scale(0);
  }

  100% {
    transform: translateX(-10vh) scale(1);
  }
}
