.arrow {
    height: 40vmin;
    pointer-events: none;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .arrow {
      animation: arrow-spin infinite 5s linear;
    }
  }
  @keyframes arrow-spin {
    from {
        transform: rotate(360deg);

    }
    to {
      transform: rotate(0deg);

    }
  }